In [1]:
import random
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np

In [2]:
##Creating data
data = {'size':[],
				'color':[],
				'gender':[],
				'price':[],
				'weight':[],
				'bought':[]}

sizes = ['XS','S','M','L','XL']
colors = ['white','black','red','blue','yellow','green','khaki']
genders = ['M','F']
for _ in range(20):
	data['size'].append(random.choice(sizes))
	data['color'].append(random.choice(colors))
	data['gender'].append(random.choice(genders))
	data['price'].append(round(random.random()*500,2))
	data['weight'].append(random.randint(40,150))
	data['bought'].append('yes' if random.random()>0.5 else 'no')

for _ in range(20):
	key = random.choice(list(data.keys()))
	idx = random.randint(0,19)
	data[key][idx] = np.nan
og_data = pd.DataFrame(data)
df = og_data.copy()
print(og_data)

   size   color gender   price  weight bought
0    XL     NaN    NaN  160.22    66.0    NaN
1     L  yellow      F  246.55   143.0     no
2     L   black      F  427.14    43.0    yes
3    XS  yellow      F     NaN    94.0    NaN
4     M   white      M   97.28     NaN     no
5     M     red      M  455.85     NaN    NaN
6    XL    blue      M  209.33    92.0    NaN
7   NaN   white    NaN  279.82   125.0    yes
8     S   green      M  260.58   104.0    yes
9    XL   white      M  206.90    69.0    NaN
10    S   khaki      F  300.38     NaN    yes
11    M   white      F   91.29   109.0     no
12    S     NaN      M  120.17    45.0    yes
13    M     NaN      M  115.10    89.0    yes
14    L    blue      M   52.23     NaN    yes
15   XS  yellow      F   30.85    42.0    yes
16    S    blue    NaN  237.05   115.0     no
17  NaN     red      F  281.11    78.0    yes
18    L   green      F  108.19   137.0    NaN
19   XS   khaki      F     NaN   137.0     no

In [3]:
#1.	pomiń dane, które mają 3 lub więcej pustych wartości
df.dropna(thresh=len(df.keys())-2,inplace=True)
print(df)

   size   color gender   price  weight bought
1     L  yellow      F  246.55   143.0     no
2     L   black      F  427.14    43.0    yes
3    XS  yellow      F     NaN    94.0    NaN
4     M   white      M   97.28     NaN     no
5     M     red      M  455.85     NaN    NaN
6    XL    blue      M  209.33    92.0    NaN
7   NaN   white    NaN  279.82   125.0    yes
8     S   green      M  260.58   104.0    yes
9    XL   white      M  206.90    69.0    NaN
10    S   khaki      F  300.38     NaN    yes
11    M   white      F   91.29   109.0     no
12    S     NaN      M  120.17    45.0    yes
13    M     NaN      M  115.10    89.0    yes
14    L    blue      M   52.23     NaN    yes
15   XS  yellow      F   30.85    42.0    yes
16    S    blue    NaN  237.05   115.0     no
17  NaN     red      F  281.11    78.0    yes
18    L   green      F  108.19   137.0    NaN
19   XS   khaki      F     NaN   137.0     no

In [4]:
#2.	wypełnij puste miejsca w kolumnie price wartością średnią
df['price'].fillna(df['price'].mean(), inplace=True)
print(df)

   size   color gender       price  weight bought
1     L  yellow      F  246.550000   143.0     no
2     L   black      F  427.140000    43.0    yes
3    XS  yellow      F  207.048235    94.0    NaN
4     M   white      M   97.280000     NaN     no
5     M     red      M  455.850000     NaN    NaN
6    XL    blue      M  209.330000    92.0    NaN
7   NaN   white    NaN  279.820000   125.0    yes
8     S   green      M  260.580000   104.0    yes
9    XL   white      M  206.900000    69.0    NaN
10    S   khaki      F  300.380000     NaN    yes
11    M   white      F   91.290000   109.0     no
12    S     NaN      M  120.170000    45.0    yes
13    M     NaN      M  115.100000    89.0    yes
14    L    blue      M   52.230000     NaN    yes
15   XS  yellow      F   30.850000    42.0    yes
16    S    blue    NaN  237.050000   115.0     no
17  NaN     red      F  281.110000    78.0    yes
18    L   green      F  108.190000   137.0    NaN
19   XS   khaki      F  207.048235   137.0     no

In [5]:
#3.	wypełnij puste miejsca w kolumnie weight za pomocą interpolacji
df['weight'].fillna(df['weight'].interpolate(), inplace=True)
print(df)

   size   color gender       price      weight bought
1     L  yellow      F  246.550000  143.000000     no
2     L   black      F  427.140000   43.000000    yes
3    XS  yellow      F  207.048235   94.000000    NaN
4     M   white      M   97.280000   93.333333     no
5     M     red      M  455.850000   92.666667    NaN
6    XL    blue      M  209.330000   92.000000    NaN
7   NaN   white    NaN  279.820000  125.000000    yes
8     S   green      M  260.580000  104.000000    yes
9    XL   white      M  206.900000   69.000000    NaN
10    S   khaki      F  300.380000   89.000000    yes
11    M   white      F   91.290000  109.000000     no
12    S     NaN      M  120.170000   45.000000    yes
13    M     NaN      M  115.100000   89.000000    yes
14    L    blue      M   52.230000   65.500000    yes
15   XS  yellow      F   30.850000   42.000000    yes
16    S    blue    NaN  237.050000  115.000000     no
17  NaN     red      F  281.110000   78.000000    yes
18    L   green      F  108.190000  137.000000    NaN
19   XS   khaki      F  207.048235  137.000000     no

In [6]:
#4.	wypełnij puste miejsca w kolumnie size, color i gender wartościami stałymi (np. unisex, black, male)
df['size'].fillna('one size', inplace=True)
df['color'].fillna('black', inplace=True)
df['gender'].fillna('M', inplace=True)

print(df)

        size   color gender       price      weight bought
1          L  yellow      F  246.550000  143.000000     no
2          L   black      F  427.140000   43.000000    yes
3         XS  yellow      F  207.048235   94.000000    NaN
4          M   white      M   97.280000   93.333333     no
5          M     red      M  455.850000   92.666667    NaN
6         XL    blue      M  209.330000   92.000000    NaN
7   one size   white      M  279.820000  125.000000    yes
8          S   green      M  260.580000  104.000000    yes
9         XL   white      M  206.900000   69.000000    NaN
10         S   khaki      F  300.380000   89.000000    yes
11         M   white      F   91.290000  109.000000     no
12         S   black      M  120.170000   45.000000    yes
13         M   black      M  115.100000   89.000000    yes
14         L    blue      M   52.230000   65.500000    yes
15        XS  yellow      F   30.850000   42.000000    yes
16         S    blue      M  237.050000  115.000000     no
17  one size     red      F  281.110000   78.000000    yes
18         L   green      F  108.190000  137.000000    NaN
19        XS   khaki      F  207.048235  137.000000     no

In [7]:
#5.	dodaj do słownika kolumnę cost, która reprezentuje cenę jako jedną z klas: cheap, normal_price, expensive; podziału ceny na te klasy dokonaj automatycznie (argument bins metody pandas.cut)
df['cost'] = pd.cut(df['price'], bins = 3, labels=('cheap', 'normal_price', 'expensive'))
print(df)

        size   color gender       price      weight bought          cost
1          L  yellow      F  246.550000  143.000000     no  normal_price
2          L   black      F  427.140000   43.000000    yes     expensive
3         XS  yellow      F  207.048235   94.000000    NaN  normal_price
4          M   white      M   97.280000   93.333333     no         cheap
5          M     red      M  455.850000   92.666667    NaN     expensive
6         XL    blue      M  209.330000   92.000000    NaN  normal_price
7   one size   white      M  279.820000  125.000000    yes  normal_price
8          S   green      M  260.580000  104.000000    yes  normal_price
9         XL   white      M  206.900000   69.000000    NaN  normal_price
10         S   khaki      F  300.380000   89.000000    yes  normal_price
11         M   white      F   91.290000  109.000000     no         cheap
12         S   black      M  120.170000   45.000000    yes         cheap
13         M   black      M  115.100000   89.000000    yes         cheap
14         L    blue      M   52.230000   65.500000    yes         cheap
15        XS  yellow      F   30.850000   42.000000    yes         cheap
16         S    blue      M  237.050000  115.000000     no  normal_price
17  one size     red      F  281.110000   78.000000    yes  normal_price
18         L   green      F  108.190000  137.000000    NaN         cheap
19        XS   khaki      F  207.048235  137.000000     no  normal_price

In [8]:
#6.	dostosuj dane do modelu tak, by przedstawiały wartość binarną (np. bought: [‘yes’, ‘no’, ‘yes’] na bought_yes: [1,0,1])
df['bought_yes'] = df['bought'].apply(lambda x: 1 if 'yes' == x else 0)
print(df)

        size   color gender       price      weight bought          cost  \
1          L  yellow      F  246.550000  143.000000     no  normal_price
2          L   black      F  427.140000   43.000000    yes     expensive
3         XS  yellow      F  207.048235   94.000000    NaN  normal_price
4          M   white      M   97.280000   93.333333     no         cheap
5          M     red      M  455.850000   92.666667    NaN     expensive
6         XL    blue      M  209.330000   92.000000    NaN  normal_price
7   one size   white      M  279.820000  125.000000    yes  normal_price
8          S   green      M  260.580000  104.000000    yes  normal_price
9         XL   white      M  206.900000   69.000000    NaN  normal_price
10         S   khaki      F  300.380000   89.000000    yes  normal_price
11         M   white      F   91.290000  109.000000     no         cheap
12         S   black      M  120.170000   45.000000    yes         cheap
13         M   black      M  115.100000   89.000000    yes         cheap
14         L    blue      M   52.230000   65.500000    yes         cheap
15        XS  yellow      F   30.850000   42.000000    yes         cheap
16         S    blue      M  237.050000  115.000000     no  normal_price
17  one size     red      F  281.110000   78.000000    yes  normal_price
18         L   green      F  108.190000  137.000000    NaN         cheap
19        XS   khaki      F  207.048235  137.000000     no  normal_price

    bought_yes
1            0
2            1
3            0
4            0
5            0
6            0
7            1
8            1
9            0
10           1
11           0
12           1
13           1
14           1
15           1
16           0
17           1
18           0
19           0

In [9]:
#7.	podziel słownik na dane wejściowe i wartość wyjściową, a następnie podziel na zbiór uczący i testujący
input =df[['cost','gender','size','color']]
output=df['bought_yes']

x_train, x_test, y_train, y_test = train_test_split(input, output, test_size=0.2)
print(x_train)
print(y_train)

            cost gender      size   color
9   normal_price      M        XL   white
16  normal_price      M         S    blue
17  normal_price      F  one size     red
13         cheap      M         M   black
8   normal_price      M         S   green
6   normal_price      M        XL    blue
2      expensive      F         L   black
5      expensive      M         M     red
10  normal_price      F         S   khaki
3   normal_price      F        XS  yellow
18         cheap      F         L   green
19  normal_price      F        XS   khaki
15         cheap      F        XS  yellow
1   normal_price      F         L  yellow
4          cheap      M         M   white
9     0
16    0
17    1
13    1
8     1
6     0
2     1
5     0
10    1
3     0
18    0
19    0
15    1
1     0
4     0
Name: bought_yes, dtype: int64